@import "bootstrap/dist/css/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.scss";

@import "./_colours.scss";
@import "./_hero-animation.scss";
@import "./_typography.scss";

html,
body {
  height: 100%;
}

body {
  background-color: var(--colour-background);
  color: var(--colour-text);
}

a {
  color: var(--colour-text);
  text-decoration: none;

  &:hover {
    color: var(--colour-text);
    opacity: 0.6;
  }
}

img {
  max-width: 100%;
}

.icon {
  color: var(--colour-text);
}

.container-fluid {
  max-width: 720px;
}
