<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  {{ $options := (dict "includePaths" (slice "node_modules")) -}}
  {{ $sass := resources.Get "scss/main.scss" }}
  {{ $stylesheet := $sass | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Source+Code+Pro&&display=swap&family=Poppins">
</head>

<body>
  <div class="container-fluid pb-5">
    {{ block "main" . }}{{ end }}
  </div>
</body>

</html>