/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .padded-container {
        @apply container mx-auto px-3 py-4;
    }

    article {
        h1 {
            @apply text-4xl;
        }

        h2 {
            @apply text-3xl;
        }

        h3 {
            @apply text-2xl;
        }

        h4 {
            @apply text-xl;
        }

        h5 {
            @apply text-xl;
        }

        h6 {
            @apply text-xl;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mb-4 mt-14;
        }

        p,
        li {
            @apply font-serif leading-8 text-xl;
        }

        p,
        ul,
        ol,
        figure,
        pre,
        table {
            @apply mb-8;
        }

        pre {
            @apply p-2;
        }

        ul {
            @apply list-disc list-outside pl-10;
        }

        ol {
            @apply list-decimal list-outside pl-10;
        }

        li {
            @apply mb-3;
        }

        a {
            @apply underline;
        }

        code:not(pre code) {
            @apply bg-colour-background-elevated py-1 px-2 text-base rounded;
        }

        tbody tr:nth-child(odd) {
            @apply bg-colour-background-elevated;
        }

        td,
        th {
            @apply py-1 px-4;
        }

        figure {
            @apply flex flex-col items-center;
        }

        figure p {
            @apply text-base text-colour-muted mb-0;
        }
    }
}